@import "_variables";

.modal-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-inner {
    color: $dark-text;
    background-color: white;
    border-radius: $border-radius-title-button;
    padding: 30px;

    img {
      width: 100%;
    }

    .modal__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      h1 {
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }
    }
  }
}

button {
  background: none;
  border: none;
  align-self: center;
  color: $dark-text;

  &:hover {
    cursor: pointer;
  }

  &.mobile__button {
    display: none;
  }
}
.btn-login {
  border: 30px;
  outline: none;
  width: 30%;
  padding: 15px 0;
  color: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
  font-size: 16px;
  letter-spacing: 1px;
  background: white;
  cursor: pointer;
}

.text-left{
  text-align: left;
}
@media screen and (max-width: 400px) {
  .modal-wrapper {
    .modal-inner {
      height: 100vh;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .modal__header {
        justify-content: center;
      }
    }
  }

  button {
    &.mobile__button {
      display: inline-block;
    }

    &.desktop__button {
      display: none;
    }
  }
}
